@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: min(95%, 1150px);
    margin: 0 auto;
}

@media (width > 1280px) {
    body {
        max-width: min(95%, 1759px);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #223344;
    transition: .4s;
}

.slider::after {
    position: absolute;
    content: "";
    background-image: url(/src/img/Sun_fill_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    right: 2px;
    bottom: 2px;
}

.slider::before {
    position: absolute;
    content: "";
    background-image: url(/src/img/Moon_fill.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #FFFFFF;
    transition: transform .4s;
}

input:checked+.slider {
    background-color: #111729;
}

input:checked+.slider::after {
    background-image: url(/src/img/Moon_fill_light.svg);
    left: 2px;
}

input:checked+.slider::before {
    transform: translateX(24px);
    background-image: url(/src/img/Sun_fill.svg);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}